.dashboard_logo {
    width:30px;
    margin-left: 5px;
    margin-right: 5px;
}

.personal_section li{
    float: left;
}

.profile_pic{
    float: right;
}
.right_col{
    min-height: 758px !important
}

.buttonNext{
    float: left;
}

.buttonPrevious{
    float: left;
}

.buttonFinish{
    float: left;
}
.radio label, .checkbox label {
    padding-bottom: 10px;
    padding-right: 10px !important;
    font-size: 12px;
}
.upload_title_box {
    color: #1ABB9C;
    margin-top: 40px;
    font-size: 15px;
}
.upload_box {
    border: 2px dashed #ccc;
    /*height: 250px;*/
    padding: 20px 20px;
}
.upload_item{
    padding: 0 10px;
    /*border: 1px solid #CCCCCC;*/
    margin: 0;
    margin-bottom: 30px;
}
.upload_item .image_box{
    height: 120px;
    /*padding: 20% 10%;*/
    cursor: pointer;
}
.image_box img {
    width:100%;
    height: 120px;
}
.upload_box span{
    border-top:1px solid #ccc;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    width:100%;
    color: #929090;
    font-size: 12px;
}
.upload_input_file{
    display: none !important;
}
.StepTitle{
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    color: #E91E63;
}
.sub_upload_box {
    border: 1px dashed #ccc;
    padding: 10px 15px 15px;
}
.file_box {
    padding: 0;
    border: 1px solid #ccc;
}
.title_position_card{
    padding-left: 0;
    text-align: right;
}
.edit_buttons {
    padding-right: 0;
    text-align: left;
}
.edit_buttons button {
    margin-right: 0px;
    font-size: 11px !important;
}
.brief i {
    font-weight: bold;
    font-style: normal;
}
.add_user {
    text-align: center;
    width: 100%;
    font-size: 200px;
    line-height: 230px;
    color: #ccc;
    cursor: pointer;
}
.add_user:hover{
    color: #1ABB9C;
    opacity: 0.7;
}
#add_user_form{
    display: none;
}
#central_office_employee_form{
    display: none;
}
.form-control[disabled], fieldset[disabled] .form-control {
    font-size: 10px;
}
#treaty_form {
    display: none;
}
#treaty_employee_form{
    display: none;
}
#bill_upload_box {
    display: none;
}
.form_wizard .stepContainer{
    height: auto !important;
    padding-bottom: 30px;
}
#equipment_form {
    display: none;
}
#jazb_shohada_form {
    display: none;
}
#certificate_manager_form{
    display: none;
}
th, tr {
    text-align: center;
}
.table {
    font-size: 11px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.table>tbody>tr>td>a>i {
    vertical-align: middle;
    font-size: 15px;
    padding: 0 3px;
}

td>input {
    height: 25px;
    font-size: 15px;
    color: #26b99a;
    text-align: center;
}

.fa-check {
    color:#1abb9c;
}

.fa-times {
    color:#E91E63;
}
.fa-check:hover {
    opacity: 0.8;
}

.fa-times:hover {
    opacity: 0.8;
}

.score_number{
    color:#1abb9c;
    font-size: 15px;
}

.reject_description{
    display: none;
}

#assessor_form {
    display: none;
}
.summary-title {
    border-bottom: 2px solid #000;
    padding: 15px 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}